<div
  id="notfound"
  style="
position: relative;
height: 100vh;
"
>
  <div
    classname="notfound"
    style="
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
max-width: 410px;
width: 100%;
text-align: center;
"
  >
    <div
      classname="notfound-404"
      style="
height: 280px;
position: relative;
z-index: -1;
"
    >
      <h1
        style="
font-family: montserrat,sans-serif;
font-size: 230px;
margin: 0;
font-weight: 900;
position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
background: url('./assets/oops.webp') no-repeat;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: cover;
background-position: center;
"
      >
        Oops!
      </h1>
    </div>
    <h2
      style="
font-family: montserrat,sans-serif;
color: #000;
font-size: 24px;
font-weight: 700;
text-transform: uppercase;
margin-top: 0;
"
    >
      404 - Page not found
    </h2>
    <p
      style="
font-family: montserrat,sans-serif;
color: #000;
font-size: 14px;
font-weight: 400;
margin-bottom: 20px;
margin-top: 0;
"
    >
      You need to enable JavaScript to run this app.
    </p>
  </div>
</div>
